@use 'assignment1-header';

$div1 : 2px solid red;

p{
    font-size:30px;
    font-weight:bold;
}
article{
    border:$div1;
    margin:7px;
    text-align: center;
    padding:10px;
    font-weight:bold;
}

$font-size :10px;
@for $i from 1 to 7{
    .h#{$i}{
   font-size : $font-size * $i ;
   @if($i==1 or $i == 2 or $i==3){
    color:red;
   }
   @else{
    color:green;
    border : 2px solid green;
   }
    }
}